@use "src/app/design-system/colors.scss" as colors;

@keyframes fill-bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.progress_bar {
  width: 100%;
  height: 10px;
  background: colors.$black-40;
  border-radius: 10px;
  overflow: hidden;
}

.progress_bar__progress {
  height: 100%;
  background: colors.$teal-50;
  border-radius: 10px;
  width: 0;
  transform-origin: left;
  animation: fill-bar 1s ease-out forwards;
}
