@use 'src/app/design-system/colors.scss' as colors;
@use 'src/app/design-system/text.scss' as text;

.job {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: colors.$black-60;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Add smooth transition */

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.job__title {
  @extend .text__s_semi;
  color: colors.$teal-50;
}

.job__meta {
  @extend .text;
  color: #aaa;
}

.job__link {
  color: colors.$teal-50;
  text-decoration: underline;
  margin-top: 8px;
  transition: color 0.3s;
  margin-bottom: 16px;

  &:hover {
    color: colors.$white;
  }
}

.job__description_wrapper {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &.expanded {
    max-height: 2000px;
  }
}

.job__description {
  @extend .text;
  color: colors.$white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.5;

  ul {
    list-style-type: disc;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  span {
    color: colors.$teal-50;
  }
}

.job__fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, transparent, colors.$black-60);
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.hidden {
    opacity: 0;
  }
}

.job__expand_button {
  @extend .text__ps;
  background: none;
  border: none;
  color: colors.$teal-50;
  cursor: pointer;
  padding: 8px;
  margin-top: 8px;
  transition: all 0.3s ease;

  &:hover {
    color: colors.$white;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}
