@use "src/app/design-system/colors.scss" as colors;
@use "src/app/design-system/text.scss" as text;

.skill {
  background: colors.$black-50;
  border-radius: 8px;
  padding: 12px;
  transition: all 0.3s ease-out;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: lighten(colors.$black-50, 5%);
    transform: scale(1.02);
  }
}

.skill__name {
  @extend .text__xs_semi;
  color: colors.$white;
  margin-bottom: 8px;
}
