@use 'src/app/design-system/layout.scss' as layout;
@use 'src/app/design-system/colors.scss' as colors;
@use 'src/app/design-system/text.scss' as text;
@use 'src/app/design-system/media.scss' as media;
@use 'src/components/animations/fade-in-up.module.scss';

.experience {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media.tabletUp {
    padding: 80px 0;
  }
}

.experience__title {
  @extend .text__l_medium;
  color: colors.$white;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in-up 0.5s ease-in-out forwards;
}

.experience__job_list {
  @extend .section_wrapper;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.experience__job_element {
  opacity: 0;
  animation: fade-in-up 0.5s ease-in-out forwards;
}
