@use "src/app/design-system/media" as media;

.main {
  min-height: 100vh;
  padding-top: 88px;

  @include media.tabletUp {
    padding-top: 104px;
  }

  @include media.maxLayoutUp {
    padding: 0;
    padding-top: 104px;
  }
}
